body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f9;
}

header {
    background: #007acc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 10px 20px;
    backg
